@import "tailwindcss";

@theme {
  /* Aquí definimos tu color dorado en la versión 4 */
  --color-gold-rio: #DAA520;
  --font-sans: var(--font-montserrat), ui-sans-serif, system-ui, sans-serif;
}

/* Estilos base */
:root {
  background-color: #ffffff;
  color: #171717;
}

body {
  background: #ffffff;
  font-family: var(--font-montserrat);
}

/* Animación de entrada suave */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px); /* Empieza un poquito más abajo */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* Termina en su lugar */
  }
}

.animate-fade-in {
  animation: fadeIn 0.8s ease-out forwards; /* Dura 0.8 segundos */
}

/* Animaciones para los fondos dorados (Blobs) */
@keyframes blob {
  0% { transform: translate(0px, 0px) scale(1); }
  33% { transform: translate(30px, -50px) scale(1.1); }
  66% { transform: translate(-20px, 20px) scale(0.9); }
  100% { transform: translate(0px, 0px) scale(1); }
}

.animate-blob {
  animation: blob 10s infinite;
}

.animation-delay-2000 {
  animation-delay: 2s;
}

.animation-delay-4000 {
  animation-delay: 4s;
}