@import "tailwindcss";

@theme {
  /* Aquí definimos tu color dorado en la versión 4 */
  --color-gold-rio: #DAA520;
  --font-sans: var(--font-montserrat), ui-sans-serif, system-ui, sans-serif;
}

/* Estilos base */
:root {
  background-color: #ffffff;
  color: #171717;
}

body {
  background: #ffffff;
  font-family: var(--font-montserrat);
}

/* Animación de entrada suave */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px); /* Empieza un poquito más abajo */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* Termina en su lugar */
  }
}

.animate-fade-in {
  animation: fadeIn 0.8s ease-out forwards; /* Dura 0.8 segundos */
}